h1 {
    color: black;
}

.pb-gutter {
    padding-bottom: calc(var(--bs-gutter-y) * 0.5);
}

.ma-classe {
    color: #663399;
}
#logo {
    margin-right: 100px;
    height: 115px;
    width: auto;
    padding-left: 90px;
    opacity:0.70;
}
.block-solid {
    display: grid;
    grid-template-columns: auto 1fr; /* Deux colonnes : image et texte */
    align-items: center;
    justify-content:space-between;
    width: auto;
    height: 125px;
}
.movie-block {
    border-style: solid;
    margin: 10px 0;
    padding: 10px;
    width: auto;
}
body {
    margin: 50px 100px;
}
.image-placeholder{
    border-radius: 10px;
}
::placeholder {
    border: 1px solid #ccc;
    /* largeur et couleur de la bordure */
    padding: 5px;
    /* marge intérieure */
    background-color: #f7f7f7;
    /* couleur de l'arrière-plan */
    border-radius: 5px;
    /* arrondi des coins */
}