h1 {
    color: black;
}
h2 {
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
}

.pb-gutter {
    padding-bottom: calc(var(--bs-gutter-y) * 0.5);
}

.best-movie {
    max-width: 600px !important;
}
#logo {
    margin-right: 100px;
    height: 115px;
    width: auto;
    padding-left: 90px;
    opacity:0.70;
}
.block-solid {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content:space-between;
    width: auto;
    height: 125px;
}
.movie-block {
    border-style: solid;
    margin: 10px 0;
    padding: 10px;
    width: auto;
}
body {
    margin: 9% !important;
}
.image-placeholder{
    border-radius: 10px;
}
::placeholder {
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

@media (max-width: 768px) {

    .image-small-resolution {
        width: 100%;
    }
        .modal-dialog {
            margin-left: 20% !important;
            margin-right: 20% !important;
        }
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

/* Par défaut, on limite l'affichage à deux films */
.movie.hidden {
    display: none !important;
}

/* Résolution moyenne : afficher jusqu'à 4 films */
@media (min-width: 768px) and (max-width: 1024px) {
    .movie:nth-child(-n+4) {
        display: block !important;
    }
}

/* Grande résolution : afficher tous les films */
@media (min-width: 1025px) {
    .movie {
        display: block !important;
    }

    .movie.hidden {
        display: block !important;
    }
}

.btn-voir-plus {
    display: inline-block;
}

.btn {
    margin-top: 1rem !important;
}

/* Cacher le bouton sur les écrans de grande taille (résolution > 1025px) */
@media (min-width: 1025px) {
    .btn-voir-plus {
        display: none !important;
    }
}
